<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{adminBase::Layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="conatainer p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Admin Login Here</div>

						<th:block th:if="${session.msg}">
							<p class="text-center text-success fs-4">[[${session.msg}]]</p>
						</th:block>
						<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

						<div class="card-body">
							<form action="/signin-admin" method="post">
								<div class="mb-3">
									<label>Enter Email Id</label>
									<input type="email" name="email" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Password</label>
									<input type="password" name="password" class="form-control" required>
								</div>
								<button class="btn btn-primary col-md-12 mb-3">Login</button>
							</form>
							<button class="btn btn-secondary col-md-12" onclick="window.location.href='/admin/register'">New Admin Register Here</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>