<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="css/homeStyle.css"/>
</head>
<body>

    <div class="container">
        <h1>Welcome To The Management System</h1>
        <h2>Good to see you here, continue as</h2>
        <div class="button-container">
            <button class="button" onclick="window.location.href='/user/login'">USER</button>
            <button class="button" onclick="window.location.href='/admin/login'">ADMIN</button>
        </div>
    </div>
    
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>    

</body>
</html>